!!! 5
html(lang="en")
  head
    title OAuth - params error
  body
    #container
      header
        h1 Express Storage
        h2 OAuth
    p Please call as /_oauth/user@host?scope=category1,category2&redirect_uri=http://localhost/bla to the address
